/* Reset Code Start */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Work Sans;
  background-color: #dfe6e9;
}
/* Reset Code End */
/* Banner Section Code Start */
header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-section {
  width: 53%;
  text-align: center;
  color: white;
}
.banner-section h5 {
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0.8;
  line-height: 38px;
}
.banner-section h1 {
  font-size: 3rem;
  line-height: 65px;
  font-weight: 400;
}
.banner-section p {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  opacity: 0.7;
  margin: 30px 0;
}
.banner-section button {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: white;
  background-color: #52c303;
  padding: 18px 28px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.banner-section button:hover {
  background-color: #55c407ab;
  padding: 18px 28px;
  box-shadow: 3px 3px 5px gray;
  border: none;
  border-radius: 8px;
}
/* Banner Section Code End */

/* Card Box Section Code Start */
.card-box-section {
  width: 100%;
  background-color: white;
}
.card-box-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.card-box-parent-div h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}
.card-box-parent-div h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 50px;
}
.card-box-parent-div button {
  font-size: 18px;
  font-weight: 400;
  background-color: #52c303;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}
.card-box-parent-div button:hover {
  box-shadow: 4px 4px 5px gray;
  background-color: #377709;
}
.card-box-parent-div {
  width: 75%;
  margin: 0 auto;
  padding: 85px 0;
  text-align: center;
}
.card-single-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.favorite-single-div {
  width: 35%;
  text-align: center;
  padding: 20px 5px;
}
.favorite-single-div img {
  width: 100%;
  margin-bottom: 30px;
}
.favorite-single-details-div span {
  background-color: #53c30359;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 400;
}
.favorite-single-details-div h3 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
}
.favorite-single-details-div p {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.7;
}
/* Card Box Section Code End */



